html,
body {
  height: 100%;
}

body {
  font-family: 'Exo 2', sans-serif;
}

.z {
  min-height: 100%;
  // padding-bottom: 20px;
  // margin-bottom: -160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}
