html,
body {
  height: 100%; }

body {
  font-family: "Roboto", sans-serif; }

.z {
  min-height: 100%; }

*,
*::before,
*::after {
  box-sizing: border-box; }

.wrapper {
  max-width: 1024px;
  margin: 0 auto; }
