.nav {
  &__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    li {
      margin-right: 40px;
    }
    a {
      color: #fff;
      font-size: 16px;
      text-decoration: none;
    }
  }
}
