.footer {
  padding: 40px 0;
  height: 160px;
  background-color: #000;
  color: #fff; }
  .footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
